html, body {
	height: 100%;
  overflow-x: hidden;
}

.container-content {
  padding-left: 20px;
  padding-top: 10px;
}

.navbar-header {
   background-color: #b03131;
   padding: 20px 60px 30px 100px;
}

.navabar-list {
  background-color: #d23b3b;
  margin-bottom: -0px;
  display: block;
  padding: 20px 0 20px 0
}

.navbar-item {
  display: inline;
  padding-left: 40px;
  color: #fff;
}

.navbar-item a {
  text-decoration: none;
  color: #fff
}

img:hover {
  opacity:0.65;
  -moz-opacity: 0.65;
  filter: alpha(opacity=65);
  cursor: pointer;
}

.navbar-item a:hover {
  color: #000;
}

.aside {
  background-color: #b03131;
  width: 20%;
  float: right;
}

.item {
  position: relative;
  left: 50%;
  top: -385px
}

.min-itens {
  display: inline-flex;
  position: relative;
  margin-top: -180px;
}

.container-hr {
  margin-top: -200px;
  position: relative;
}

.container-text {
  padding: 40px
}

.min-item {
  padding-right: 10px
}

h1 {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px
}


.aside-item a:hover {
  color: #000
}

.aside-item a {
  cursor: pointer;
  text-decoration: none;
  color: #FFF
}

.aside-item {
  padding: 10px;
}

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  width:100%;
  padding: 20px 0 20px 0;
  background-color: #3c3c3c;
  color: #fff;
  text-align: center;
}

@media screen and (min-width: 1020px) {
  .footer {
    position: relative;
  }
}

@media screen (min-width: 710px) {
  .aside {
    display: none
  }
}

@media screen and (min-width: 328px; max-height: 720px) {
  .main-item {
    padding-bottom: 40%
  }

  .item {
    display: none
  }
}
