<form name="formProduto" ng-submit="submitForm()">
  <div class="form-group">
    <label for="sel1">Tipo de produto</label>
    <select class="form-control" ng-model="produto.tipo_produto">
      <option value="frios">Frios</option>
      <option value="doce">Doce</option>
      <option value="pao">Pão</option>
    </select>
 </div>
 <div class="form-group" ng-if="produto.tipo_produto == 'pao'">
   <label for="tipo_doce">Tipo de doce:</label>
   <input type="text" class="form-control" name="tipo_doce" ng-model="produto.tipo_doce">
 </div>
 <div class="form-group" ng-if="produto.tipo_produto == 'doce'">
   <label for="sabor">Sabor:</label>
   <input type="text" class="form-control" name="sabor" ng-model="produto.sabor">
 </div>
 <div class="form-group">
   <label for="nome">Nome do Produto:</label>
   <input type="text" class="form-control" name="nome" ng-model="produto.nome">
 </div>
 <div class="row">
   <div class="col-sm-6">
     <div class="form-group">
       <label for="preco">Preço:</label>
       <input type="text" class="form-control" name="preco" ng-model="produto.preco">
     </div>
   </div>
   <div class="col-sm-6">
     <div class="form-group">
       <label for="validade">Validade:</label>
       <input type="date" class="form-control" name="validade" ng-model="produto.validade">
     </div>
   </div>
 </div>
 <div class="form-group">
   <label for="especificacao">Especificação:</label>
   <textarea class="form-control" rows="5" name="especificacao" ng-model="produto.especificacao"></textarea>
 </div>
 <button type="submit" class="btn btn-default">Enviar</button>
</form>
