<div class="row">
	<div class="row">
		<div class="col-sm-8">
			  <div class="form-group">
			    <label for="sel1">Tipo de produto</label>
			    <select class="form-control" ng-repeat="produto in produtos">
			      	<option value="{{produto.id}}">{{produto.nome}}</option>
			    </select>
			 </div>
		</div>
		<div class="col-sm-4">
			<button type="button" ng-click="">Adicionar</button>
		</div>
	</div>
</div>
<table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Preço</th>
        <th>Validade</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="pedido in pedidos">
        <td>{{produto.nome}}</td>
        <td>{{produto.preco}}</td>
        <td>{{produto.validade}}</td>
      </tr>
    </tbody>
  </table>